<!-- Describe task in general -->
<p>
    <i>"Я тебе дуууже сильно кохаю! Ти найкращий!!!"</i>
</p>
<p>
    Іноді ваші друзі хочуть висловити свої почуття в повідомленні, а іноді клавіша з літерою застряє на клавіатурі. В обох випадках ми отримаємо "довго натиснуту літеру", яка потім буде надрукована більше одного разу.
    Вам задано два рядки. Перший рядок - це вихідне текстове повідомлення. Другий рядок - надруковане повідомлення, яке може містити декілька (або, можливо, жодної) довго натиснутої літери. Може статися так, що повідомлення писалося поспіхом, тому не забудьте перевірити, чи всі літери збігаються з тими, що є в оригіналі. Повернути <b>{% if is_js %}t{% else %}T{% endif %}rue</b> якщо надруковане повідомлення збігається з оригіналом, враховуючи можливі довгі натискання клавіш. Або <b>{% if is_js %}f{% else %}F{% endif %}alse</b> якщо є помилки або відсутні довго натиснуті літери.
</p>
<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <ul>
    <li><i>"text" та "typed" складаються лише з маленьких англійських літер та символів "'/?!;</i></li>
    <li><i>1 &lt;= len(text), len(typed) &lt;= 1000</i>.</li>
    </ul>
</p>
