<!-- Describe task in general -->
<p>
    <i>"I Love you soooooo much! You are the best!!"</i>
</p>
<p>
    Sometimes your friends want to express their feelings in a message, and sometimes a key with a letter gets stuck
    on the keyboard. In both cases we will get a "long-pressed letter" and the letter will then be printed more than once.
    You are given two strings. The first string is the original text message. The second string is a printed message, which
    may contain several (or possibly none) long-pressed letters. It may happen that the message was written in a hurry,
    so do not forget to check that all the letters match those in the original. Return <b>{% if is_js %}t{% else %}T{% endif %}rue</b> if the printed message
    matches the original one, taking into account possible long keystrokes. Or <b>{% if is_js %}f{% else %}F{% endif %}alse</b> if there are errors or no long-pressed letters.
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> String.
</p>

<p>
    <strong>Output:</strong> Bool{% if is_js %}ean{% endif %}.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Examples:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>"text" and "typed" consist of only lowercase English letters and symbols "'/?!.,;</i></li>
    <li><i>1 <= len(text), len(typed) <= 1000</i>.</li>
    </ul>
</p>
